
.tiempo {
  display:flex;
  align-items: center;
}
  
.bromas {
    position: relative; 
    overflow: hidden; 
    width: 100%;
    padding: 60px;
    z-index: 2; 
  }

.dot {
    position: absolute; /* Permite posicionar el elemento con top, left, etc. */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el punto de anclaje al centro */
    z-index: 1; /* Coloca la imagen detrás del contenido */
    width: 550px; /* Ajusta el tamaño de la imagen si es necesario */
    height: auto; /* Mantén la proporción de la imagen */
  }


  @media only screen and (max-width: 600px) {
  .dot{
      width: 400px;  
  }
  .bromas {
    padding: 35px;
  }
  }
  @media only screen and (max-width: 1023px) {
    
    .bromas {
      padding: 40px;
    }
    }
  
  #result {
    max-width: 400px;
    justify-content: center;
    margin : 0 auto;
    padding: auto;

  }
  button {
    background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer; 
}

.icono {
    font-size: 2rem;
}
.icono.rojo {
    color: lightsalmon;
}
.icono.amarillo {
  color: lightgoldenrodyellow;
}

.icono.verde {
  color: lightgreen;
}



@import "../node_modules/bootstrap/scss/bootstrap.scss";


  